<div class="jumbotron">
    <h1>Coffee Test Exam</h1>
</div>
<div>
    <p class="lead">Start with office to order</p>
    <p>
        Orders are made inside Pantry (Office > Pantry)
    </p>
    <p>
        Stocks are Office Level
    </p>
    <p>
        Office can have multiple Pantries
    </p>
    <p>
        Office can have same name but different location (will be considered different)
    </p>
</div>

